@charset "utf-8";

header{
    /* padding: 20px 30px; */
    margin: 0;
    height: 60px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.left,.headTitle{
    padding: 20px 30px; 
}

.right{
    background-color: bisque;
}

.dateText{
    padding-top: 0px;
    margin-top: 0px;
    background-color: bisque;
}

.logoutBtn{
    /* padding-left: 20px; */
    margin-left: 200px;
}



.select{
    background-color: aqua;
    height: 80vh;
    display: flex;
    align-items: center;
}
.insert ,.search{
    padding-left: 25%;
}
/* .search{
    padding-top: 80%;
    padding-left: 25%;
} */


