@charset "UTF-8";
body{
    background-color: darkseagreen;
    background-image: url(new05895.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: top center;
}
h1{
    color : #0bd;
    font-family: 'Zen Kurenaido', sans-serif;
}
p{
    font-size: 20px;
    font-family: fantasy;
    font-weight: bold;
    padding: 50px;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: darkolivegreen;
}

p.p1{
    border-width: 3px 0px 0px 0px;
}

p.p2{
    border-width: 0px 0px 3px 0px;
}

th{
    font-size: 130%;
}
h2{

}
img{
    margin: 10px 50px 0px 100px; 
    width: 600px;
    height: 500px;
   
}

li{
    list-style-type: decimal-leading-zero;
    list-style-position: inside;

}

.container .item{
    background-color: aquamarine;
    color: antiquewhite;
    margin: 10px;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin: 10px;
}


.csscontainer .item{
    background-color: aqua;
    color: antiquewhite;

    padding: 10px;
}

.csscontainer{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60PX  60px;
}