@charset "utf-8";

html{
    font-size: 100%;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

body{
    line-height: 1.7;
    color: #432;
}

.logo{
    width: 210px;
    margin-top: 14px;
}

.main-nav{
    display: flex;
    font-size: 1.23rem;
    text-transform: uppercase;
    margin-top: 34px;
    background-color: aqua;
}

.page-header{
    display: flex;
    justify-content: space-between;
}